.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems a {
  color: white;
  text-decoration: none;
}

.dialogsItems a.active {
  color: gold;
}

.dialog {
}

.messages {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message {
  color: white;
  min-width: 50%;
}
